<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [9]:
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [10]:
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [11]:
df.duplicated().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [21]:
missing = df.isnull().sum()

for column in missing.index:
    print(column)
    print(missing[column])
    print(" ")

Respondent
0

MainBranch
0

Hobbyist
0

OpenSourcer
0

OpenSource
81

Employment
0

Country
0

Student
51

EdLevel
112

UndergradMajor
737

EduOther
164

OrgSize
96

DevType
65

YearsCode
9

Age1stCode
13

YearsCodePro
16

CareerSat
0

JobSat
1

MgrIdiot
493

MgrMoney
497

MgrWant
493

JobSeek
0

LastHireDate
0

LastInt
413

FizzBuzz
37

JobFactors
3

ResumeUpdate
39

CurrencySymbol
0

CurrencyDesc
0

CompTotal
809

CompFreq
206

ConvertedComp
816

WorkWeekHrs
122

WorkPlan
121

WorkChallenge
164

WorkRemote
8

WorkLoc
32

ImpSyn
5

CodeRev
1

CodeRevHrs
2426

UnitTests
29

PurchaseHow
196

PurchaseWhat
38

LanguageWorkedWith
11

LanguageDesireNextYear
134

DatabaseWorkedWith
453

DatabaseDesireNextYear
1042

PlatformWorkedWith
411

PlatformDesireNextYear
544

WebFrameWorkedWith
1393

WebFrameDesireNextYear
1617

MiscTechWorkedWith
2182

MiscTechDesireNextYear
1455

DevEnviron
29

OpSys
34

Containers
82

BlockchainOrg
2322

BlockchainIs
2610

BetterLife
98

ITperson
35

OffOn
38

SocialMedia
293

Extraversion
20

ScreenName
507

SOVisit1st
325

SOVisitFreq
5

SOVisitTo
1

SOFindAnswer
3

SOTimeSaved
50

SOHowMuchTime
1917

SOAccount
1

SOPartFreq
1128

SOJobs
6

EntTeams
5

SOComm
0

WelcomeChange
85

SONewContent
1965

Age
287

Gender
73

Trans
123

Sexuality
542

Ethnicity
675

Dependents
140

SurveyLength
19

SurveyEase
14

Find out how many rows are missing in the column 'WorkLoc'

In [22]:
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [23]:
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [28]:
df['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [29]:
df['WorkLoc'].fillna('Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [30]:
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [34]:
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [48]:
def normalizeData(s):
    if (s['CompFreq']=='Yearly'):
        return s['CompTotal']
    elif(s['CompFreq']=='Monthly'):
         return (s['CompTotal']*12)
    elif(s['CompFreq']=='Weekly'):
        return s['CompTotal']*52

df['NormalizedAnnualCompensation']=df.apply(normalizeData, axis=1)
df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head()

  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).